  body {
    background-color:#1fc410;
  }
  h1, h2, h3, h4, h5, h6, h7, h8, p, footer, caption, th, td,{
    font-family:Haettenschweiler, fantasy;
    color:#0713ba;
  }
  a:link {
    color:#0713ba;
  }
  a:visited {
    color:#0713ba;
  }
  a:hover {
    color:#c96b12;
  }
  a:active {
    color:#f08826;
    font-weight: bold;
  }
  .new::after {
    content:"new!";
    margin-left:10px;
    padding:3px;
    background-color:#fa7b05;
    color:red;
    font-size:12px;
    font-weight: bold;
  }
  hr {
    border-color:#0713ba;
  }
