  body {
    background-color:#1fc410;
  }
  h1 {
    font-family:Haettenschweiler, fantasy;
    color:#0713ba;
  }
  h2 {
    font-family:Haettenschweiler, fantasy;
    color:#0713ba;
  }
  h3 {
    font-family:Haettenschweiler, fantasy;
    color:#0713ba;
  }
  p {
    font-family:Haettenschweiler, fantasy;
    color:#0713ba;
  }
  footer {
    font-family:Haettenschweiler, fantasy;
    color:#0713ba;
  }
  caption {
    font-family:Haettenschweiler, fantasy;
    color:#0713ba;
  }
  th {
    font-family:Haettenschweiler, fantasy;
    color:#0713ba;
  }
  td {
    font-family:Haettenschweiler, fantasy;
    color:#0713ba;
  }
  tr {
    border-color:#0713ba;
  }
  li {
    font-family:Haettenschweiler, fantasy;
    color:#0713ba;
     }
  blockquote {
    font-family:Haettenschweiler, fantasy;
    color:#0713ba;
  }
  form {
    font-family:Haettenschweiler, fantasy;
    color:#0713ba;
  }  
a:link {
    color:#0713ba;
  }
  a:visited {
    color:#0713ba;
  }
  a:hover {
    color:#c96b12;
    font-size:10%;
    transition: all 1s;
  }
  a:active {
    color:#f08826;
    font-weight: bold;
  }
  .new::after {
    content:"new!";
    margin-left:10px;
    padding:3px;
    background-color:#fa7b05;
    color:red;
    font-size:12px;
    font-weight: bold;
  }
  hr {
    border-color:#0713ba;
  }
